.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  header {
    height: 160px;
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}
